/*****************************/
/** FONTS **/

@font-face {
    font-family: Ubuntu;
    src: url("fonts/Ubuntu.ttf") format('truetype');
}

@font-face {
    font-family: Ubuntu Light;
    src: url("fonts/Ubuntu Light.ttf") format('truetype');
}

@font-face {
    font-family: Ubuntu Mono;
    src: url("fonts/Ubuntu Mono.ttf") format('truetype');
}

@font-face {
    font-family: Ubuntu Thin;
    src: url("fonts/Ubuntu Thin.ttf") format('truetype');
}

/*****************************/
/** COLORS ***/
:root {
  --darkblue: #415A76; /* dark blue*/ 
  --liteblue: #CCD7E1; 
  --verylite: #E7EEF3; 
  --darkgrey: #383838; /* rgb( 56,  56,  56) */ 
  --litegrey: #e4e5e7; /* rgb(228, 229, 231) */ 
  --darkred:  #744953; 
  --darkgreen:#008514;  
  --goldyellow:#A88400; 
}


/*****************************/
/*****************************/
/*-- scss:defaults --*/
$primary:    #415A76;  /*darkblue */ 
$body-color: #383838; /*darkgrey */ 
$code-color: #383838; /*inline code color */ 
$font-family-sans-serif: Ubuntu; 
$font-family-monospace: Ubuntu Mono; 


/*****************************/
/*****************************/
/*-- scss:rules --*/

/*****************************/
/** TEXT **/
/*h1 { color: black; } */ 
h2 { font-family: Ubuntu Light;}
h3 { font-family: Ubuntu Light;}
h4 { font-family: Ubuntu Light;}

.size_85em {
  font-size: 0.85em;
}


/*****************************/
/** TABLE ***/

th {
  font-family: Ubuntu;
  font-weight: regular;
  font-size: 1.2em;
  font-variant: small-caps;
}

/*****************************/
/** OTHER **/

img.screenshot{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    margin: 7px 7px 13px 7px; /* top right bottom left */  
    width: 100%;
  }